div.footer
	div.container
		div.footer__container
			div.row
				div(class="6u 12u(small)")
					p.footer__references Lessons&copy;

				div(class="6u 12u(small)")
					p.footer__authors.
						Contacts :
						<a href="mailto:clem0925@gmail.com">Clément Lesné</a>
