block vars

include ../components/head

body(class="page--#{pageClass}")
	//- Javascript test
	<!--[if lt IE 8]>
	p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
	<![endif]-->

	header
		//- Responsive menu
		include ../components/menu

	//- Remodal bg
	div.remodal-bg
	
	//- Container
	div#container-global.container-global
		div.container-global__sub
			//- Top bar
			include ../components/navbar

			if navBarActiveId
				script $("#navbar__entries .navbar__entry:eq(#{navBarActiveId})").addClass('navbar__entry--active');

			section.page__head
				div.container
					div.page__head__container
						div.page__head__text
							p!= pageName
						div.page__head__buttons
							div.button__container
								block pageButtons

			section.page__content
				div.container
					block content

		footer
			include ../components/footer

	include ../components/foot