extend ../templates/common/layout

block vars
	- var title = "Error page"
	- var pageName = error ? 'Error' + error.status : Error

block pageButtons
	a(onclick='history.back();').button Go back !

block content
	section.page__head
		div.page__head__container
			div.page__head__text
				if error
					p Error #{error.status}
				else
					p Error
			div.page__head__buttons
				div.button__container
					a(onclick='history.back();').button Go back !

	div.row
		div(class="6u -3u")
			section.card
				h2.card__title
					if error
						p Error #{error.status}
					else
						p Error

				div.card__content
					p #{message}
					if error
						ul
							li Status : #{error.status}
