extend ../templates/common/layout
block vars
	- var title = "Error page"

block content
	section.page__title
		div.page__title__container
			div.page__title__text
				if error
					p Error #{error.status}
				else
					p Error
			div.page__title__buttons
				div.button__container
					a(onclick='history.back();').button Go back !

	div.row
		div(class="6u -3u")
			section.card
				h2.card__title
					if error
						p Error #{error.status}
					else
						p Error

				div.card__content
					p #{message}
					if error
						ul
							li Status : #{error.status}
