extend ../templates/common/layout
block vars
	- var title = 'Index'
	- var navBarActiveId = 0

block content
	div.row
		div(class="6u -3u")
			section.card
				div.card__container
					div.card__title
						p Login
					div.card__content
						p This app require login in order to work properly. Please login !

					div.card__action
						div.button__container
							a.button(href='account/login') Login