extend ../templates/common/layout
block vars
	- var title = 'Index'
	- var navBarActiveId = 0

block content
	div.row
		div.6u
			section#test1.card
				div.card__container
					div.card__title
						a(href="#test1") Lorem ipsum dolor
					div.card__content
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam leo lectus, suscipit ac elementum eget, tempus id mauris. Integer eget purus fringilla, viverra lectus in, commodo elit. Nulla convallis aliquet nisi sed vulputate. Ut lorem mi, vulputate quis egestas vitae, dictum at nisl. Nullam massa libero, maximus id dui eget, tincidunt efficitur ipsum. Sed a interdum nibh. In hac habitasse platea dictumst. Vivamus cursus malesuada neque. Praesent pellentesque placerat purus ac suscipit.
						p Pellentesque consequat mattis sapien, at ullamcorper felis viverra et. Donec molestie velit vitae mauris rhoncus varius. Pellentesque vitae tortor eu tortor tristique elementum vel non augue. Pellentesque ultrices congue congue. Phasellus consectetur enim diam, et malesuada libero semper et. Curabitur et sapien eget nulla accumsan condimentum. Nunc risus velit, fringilla sed massa vel, ultrices laoreet enim. Donec blandit, felis sit amet fringilla efficitur, mauris dui interdum nisi, nec eleifend lorem quam sit amet eros. Donec consequat blandit neque, at dignissim mauris porta quis. Cras nec est quis neque tempus pharetra sit amet euismod eros. Maecenas cursus non felis in tincidunt. Vestibulum in dui lorem. Phasellus est justo, dignissim ac vehicula posuere, vestibulum sed nibh.
		div.6u
			section#test2.card
				div.card__container
					div.card__title
						a(href="#test2") Pellentesque fringilla libero
					div.card__content
						p Pellentesque fringilla libero et rhoncus bibendum. Curabitur sit amet ullamcorper nulla. Vestibulum sem augue, semper at odio at, ornare sodales purus. Duis dapibus lectus at magna commodo, id fringilla lacus lobortis. Aliquam vitae nunc hendrerit erat eleifend scelerisque. Proin aliquam, mauris id auctor tempor, turpis turpis porttitor nunc, id molestie nulla ligula eu neque. Nunc viverra, quam quis blandit lobortis, diam urna porta ex, non lacinia tortor orci id dolor. Aliquam eros quam, ultricies sit amet ligula eu, condimentum varius risus. Phasellus sem mi, rutrum id volutpat quis, volutpat vel lorem. Nullam ac libero cursus, venenatis quam at, hendrerit est. Pellentesque convallis consequat hendrerit. Mauris accumsan nisl eu tristique euismod. Etiam congue massa et libero dapibus, eu auctor urna finibus.