extend ../templates/common/layout
block vars
	- var title = 'Index'
	- var navBarActiveId = 0
	- var pageClass = 'note-modifier'
	- var  pageName = note.name

block pageButtons
	a(href='/notes/#{note._id}').button Cancel creating

block content
	section.card.note-modifier__addsection
		form(action='/notes/#{note._id}/section/#{noteSection._id}/update' method='POST').form__container
			div.card__container
				div.card__title
					p Update section
					div.button__container
						button(type='submit') Update

				div.card__content
					div.note-modifier__addsection__bottom
						div.note-modifier__addsection__textarea
							textarea(name='section_content', placeholder='Content (markdown)', required, id='note-modifier__addsection__textarea').note-modifier__addsection__textarea #{noteSection.noteSectionsRaw[0].content}
						div.mkd__content.note-modifier__addsection__live__container
							div#note-modifier__addsection__live.mkd__content.note-modifier__addsection__live

				div.card__action
					div.button__container
						button(type='submit') Update